<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Redis.DefaultKey" value="Wen.TaskManager.WebUI" />
    <add key="Security.UserKey" value="@Wen.TaskManager2017" />
  </appSettings>
  <connectionStrings>
    <add name="RedisConnectionString" connectionString="127.0.0.1:6379" />
    <add name="TaskManagerConnectionString" connectionString="server=DESKTOP-FQ6HB80;database=Wen.TaskManager;uid=sa;pwd=123"/>
  </connectionStrings>
</configuration>